@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif;  REGULAR */

:root{
    --header-color: #000000;
    --background-color: #0C0D13;
    --main-color: #D9D9D9;
    --advanced-color: #FFFFFF;
    --advanced-color-2: #FFD600;
    --text-color-dark: #000000;
    --text-color-light: #FFFFFF;
}